In [ ]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.
Answer-In computing, a database is an organized collection of data stored and accessed 
electronically. Small databases can be stored on a file system, while large databases are hosted on 
computer clusters or cloud storage
Diff btw sql and noSQL-SQL stands for structure querry language and it stores and retrieve data in tabular 
format or structred data only can be stored in sql
But in the case of NoSQl it stores data structred as well as unstructres data like multimedia file ,images etc.
'''

In [ ]:
'''Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.'''
'''Answer-Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its 
relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of
the database structure. Set up a test system where the database acts like the production system but contains
no data.
CREATE-The CREATE TABLE statement is used to create a new table in a database.
Ex-CREATE TABLE table_name (
    column1 datatype,
    column2 datatype,
    column3 datatype,
   ....
);
DROP-The DROP TABLE statement is used to drop an existing table in a database.
Ex-DROP TABLE table_name;

ALTER-The ALTER TABLE statement is used to add, delete, or modify columns in an existing table.
ex-ALTER TABLE Customers
ADD Email varchar(255);

TRUNCATE-The TRUNCATE TABLE command deletes the data inside a table, but not the table itself.
TRUNCATE TABLE Table_Name;'''

In [ ]:
'''Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
A data manipulation language is a computer programming language used for adding, deleting, and 
modifying data in a database. A DML is often a sublanguage of a broader database language such as SQL,
with the DML comprising some of the operators in the language
INSERT-INSERT command is used to insert data into table.
Ex-INSERT INTO table_name (column1, column2, column3, ...)
VALUES (value1, value2, value3, ...);

UPDATE-The UPDATE statement is used to modify the existing records in a table.
Ex-UPDATE table_name
SET column1 = value1, column2 = value2, ...
WHERE condition;

DELETE-The DELETE statement is used to delete existing records in a table.
Ex-DELETE FROM table_name WHERE condition;'''

In [ ]:
'''Q4. What is DQL? Explain SELECT with an example.
Data query language is part of the base grouping of SQL sub-languages. These sub-languages are mainly 
categorized into four categories: a data query language, a data definition language, a data control 
language, and a data manipulation language.
The SELECT statement is used to select data from a database. The data returned is stored in a result 
table, called the result-set.
Ex-Select *from table_name;'''

In [ ]:
'''Q5. Explain Primary Key and Foreign Key.
Answer-Primary key in a table is uniqly define a row or record that can not be null in any siutation
Foreign Key-Foreign key is the reference key of a table that is taken form a primary key
The main difference between the primary key and foreign key is foreign key can be null
but primary key can't.'''

In [4]:
pip install mysql-connector

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 70.5 MB/s eta 0:00:0000:010:01
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py) ... done
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp310-cp310-linux_x86_64.whl size=247951 sha256=5523c9b4f5f085654ae5307f417186bfe2cc35f3d7f015c5b46ae88acd2496b3
  Stored in directory: /home/jovyan/.cache/pip/wheels/3e/7f/a3/928a40d1ffd01dd16057f308042377afc505d56145375adf40
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [ ]:
'''Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.'''
import mysql.connector
mydb=mysql.connector.connect(
    host=127.0.0.1,
  user="root",
  password=""
)
print(mydb)
# cursor=mydb.cursor()
# cursor.execute("CREATE DATABASE MYDB_1")
mydb.close()

In [ ]:
'''cursor()-It is an object that is used to make the connection for executing SQL queries. 
It acts as middleware between SQLite database connection and SQL query. It is created after giving 
connection to SQLite database
execute()-This method executes the given database operation (query or command). The parameters found in 
the tuple or dictionary params are bound to the variables in the operation'''

In [ ]:
'''Q7. Give the order of execution of SQL clauses in an SQL query.
FROM/JOIN: The FROM and/or JOIN clauses are executed first to determine the data of interest.
WHERE: The WHERE clause is executed to filter out records that do not meet the constraints.
GROUP BY: The GROUP BY clause is executed to group the data based on the values in one or more columns.