In [ ]:
'''Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?
Answer-MongoDB is a source-available cross-platform document-oriented database program. Classified as a 
NoSQL database program, MongoDB uses JSON-like documents with optional schemas.
A non-relational database is a database that does not use the tabular schema of rows and columns found in 
most traditional database systems. Instead, non-relational databases use a storage model that is optimized
for the specific requirements of the type of data being stored.
When we have unstructured data then it prefered to store this on MongoDB insted of SQL DataBases
'''

In [ ]:
'''Q2. State and Explain the features of MongoDB.
Answer-MongoDB is a tool that can manage document-oriented information, store or retrieve information.
MongoDB is a scalable, flexible NoSQL document database platform designed to overcome the relational 
databases approach and the limitations of other NoSQL solutions.'''

In [3]:
'''Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.'''
import pymongo
client = pymongo.MongoClient("mongodb+srv://localhost:root@cluster0.3mqlajc.mongodb.net/?retryWrites=true&w=majority")
db = client.test
db=client['new_db']
coll_new_db=db['record_newdb']

In [4]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
'''Q4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record.'''
data={"1":"Prakash","2":"Ranjeet","3":"Kuamra"}
coll_new_db.insert_one(data)

In [6]:
new_data=[{"1":"Prakash","2":"Ranjeet","3":"Kuamra"},{"name":"Prakash","email":"gautampraksh697@gmail.com"},{"id":"4","name":"Ravi"}]
coll_new_db.insert_many(new_data)

In [7]:
print(coll_new_db.find_one())

{'_id': ObjectId('63fb5a0f27d8b49d52cb1ce2'), '1': 'Prakash', '2': 'Ranjeet', '3': 'Kuamra'}

In [16]:
print(coll_new_db.find_one({"name":"Prakash"}))

{'_id': ObjectId('63fb5aa827d8b49d52cb1ce4'), 'name': 'Prakash', 'email': 'gautampraksh697@gmail.com'}

In [18]:
x=coll_new_db.find()

In [20]:
type(x)
list(x)

[{'_id': ObjectId('63fb5a0f27d8b49d52cb1ce2'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5aa827d8b49d52cb1ce3'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5aa827d8b49d52cb1ce4'),
  'name': 'Prakash',
  'email': 'gautampraksh697@gmail.com'},
 {'_id': ObjectId('63fb5aa827d8b49d52cb1ce5'), 'id': '4', 'name': 'Ravi'},
 {'_id': ObjectId('63fb5bde3fee14793b027be5'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5be03fee14793b027be6'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5be03fee14793b027be7'),
  'name': 'Prakash',
  'email': 'gautampraksh697@gmail.com'},
 {'_id': ObjectId('63fb5be03fee14793b027be8'), 'id': '4', 'name': 'Ravi'}]

In [33]:
'''Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.
Answer-In mongoDB, the find() method is used to fetch a particular data from the table. In other words, 
it is used to select data in a table.
From the above example'''
x=coll_new_db.find() 
list(x)
#it will print all the records available in the database

[{'_id': ObjectId('63fb5a0f27d8b49d52cb1ce2'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5aa827d8b49d52cb1ce3'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5aa827d8b49d52cb1ce4'),
  'name': 'Prakash',
  'email': 'gautampraksh697@gmail.com'},
 {'_id': ObjectId('63fb5aa827d8b49d52cb1ce5'), 'id': '4', 'name': 'Ravi'},
 {'_id': ObjectId('63fb5bde3fee14793b027be5'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5be03fee14793b027be6'),
  '1': 'Prakash',
  '2': 'Ranjeet',
  '3': 'Kuamra'},
 {'_id': ObjectId('63fb5be03fee14793b027be7'),
  'name': 'Prakash',
  'email': 'gautampraksh697@gmail.com'},
 {'_id': ObjectId('63fb5be03fee14793b027be8'), 'id': '4', 'name': 'Ravi'}]

In [ ]:
'''Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.
Answer-Specifies the order in which the query returns matching documents. You must apply sort()
 to the cursor before retrieving any documents from the database.'''
coll_new_db_2=db['record_newdb_2']
coll_new_db_2.insert_many( [
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"},
] )

In [60]:
del_val=coll_new_db_2.delete_one({"_id":1})
print(type(del_val))
dict(del_val)

<class 'pymongo.results.DeleteResult'>

TypeError: 'DeleteResult' object is not iterable

In [38]:
print(list(coll_new_db_2.find()))

[{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'}, {'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'}, {'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'}, {'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}, {'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'}]

In [46]:
x=coll_new_db_2.find().sort("name")

In [47]:
list(x)

[{'_id': 1, 'name': 'Central Park Cafe', 'borough': 'Manhattan'},
 {'_id': 3, 'name': 'Empire State Pub', 'borough': 'Brooklyn'},
 {'_id': 5, 'name': "Jane's Deli", 'borough': 'Brooklyn'},
 {'_id': 2, 'name': 'Rock A Feller Bar and Grill', 'borough': 'Queens'},
 {'_id': 4, 'name': "Stan's Pizzaria", 'borough': 'Manhattan'}]

In [ ]:
'''Q7. Explain why delete_one(), delete_many(), and drop() is used.
Answer-
delete_one()-db.collection.deleteOne()
 deletes the first document that matches the filter. Use a field that is part of a unique index such as _id 
 for precise deletions.
 del_val=coll_new_db_2.delete_one({"_id":1})
 delte_many()-The function can delete the many records at a time present in our mongoDB database
 drop()-Removes a collection or view from the database. The method also removes any indexes associated with 
 the dropped collection. The method provides a wrapper around the drop command.