In [ ]:
'''Q1. List any five functions of the pandas library with execution.'''

In [4]:
import pandas as pd

In [5]:
df=pd.DataFrame({"Name":["Prakash","Ranjeet","Sandeep"],"email":["gauta@gmail.com","Rk@gmail.com","sk@gmail.com"]})

In [6]:
df.head()

      Name            email
0  Prakash  gauta@gmail.com
1  Ranjeet     Rk@gmail.com
2  Sandeep     sk@gmail.com

In [7]:
df.tail()

      Name            email
0  Prakash  gauta@gmail.com
1  Ranjeet     Rk@gmail.com
2  Sandeep     sk@gmail.com

In [8]:
df.to_csv("my_csv.csv")

In [9]:
df.columns

Index(['Name', 'email'], dtype='object')

In [10]:
df.describe()

           Name            email
count         3                3
unique        3                3
top     Prakash  gauta@gmail.com
freq          1                1

In [11]:
'''Q2. Given a Pandas DataFrame df with columns 'A', 'B', and 'C', write a Python function to re-index the
DataFrame with a new index that starts from 1 and increments by 2 for each row.'''
l=[i for i in range (1,11)]
b=[i for i in range (1,11)]
df=pd.DataFrame({"A":l,"B":b,"C":[i for i in range (1,11)]})
index=[i for i in range(1,21,2)]
df['index']=index
df.set_index('index')

        A   B   C
index
1       1   1   1
3       2   2   2
5       3   3   3
7       4   4   4
9       5   5   5
11      6   6   6
13      7   7   7
15      8   8   8
17      9   9   9
19     10  10  10

In [12]:
'''Q3. You have a Pandas DataFrame df with a column named 'Values'. Write a Python function that
iterates over the DataFrame and calculates the sum of the first three values in the 'Values' column. The
function should print the sum to the console.
For example, if the 'Values' column of df contains the values [10, 20, 30, 40, 50], your function should
calculate and print the sum of the first three values, which is 60.'''

def sumValues(x):
    sum=x.sum()
    print(int(sum))

df=pd.DataFrame({"Values":[10,20,30,40,50]})
new_df=pd.DataFrame(df['Values'][0:3])
new_df.apply(sumValues)

60

Values    None
dtype: object

In [13]:
'''Q4. Given a Pandas DataFrame df with a column 'Text', write a Python function to create a new column
'Word_Count' that contains the number of words in each row of the 'Text' column.'''
df=pd.DataFrame({"Text":["My name is Prakash gautam","WHat is your name?","I am from Data Science batch"]})
def wordcount(x):
    st=x.split(" ")
    return len(st)
df['Word_Count']=df['Text'].apply(wordcount)
df

                           Text  Word_Count
0     My name is Prakash gautam           5
1            WHat is your name?           4
2  I am from Data Science batch           6

In [17]:
'''Q5. How are DataFrame.size() and DataFrame.shape() different?
Answer-DataFrame.size() returns the total  no. of elements in the dataframe while DataFrame.shape() returns the numbser of rows
and columns in the dataframe.'''
print("The size of the dataframe is",df.size)
print("The shape of the dataframe is",df.shape)

The size of the dataframe is 6
The shape of the dataframe is (3, 2)

In [ ]:
'''Q6. Which function of pandas do we use to read an excel file?
Anser-pd.read_excel("file name") this function is used to read excel files an pandas'''

In [ ]:
'''Q7. You have a Pandas DataFrame df that contains a column named 'Email' that contains email
addresses in the format 'username@domain.com'. Write a Python function that creates a new column
'Username' in df that contains only the username part of each email address.
The username is the part of the email address that appears before the '@' symbol. For example, if the
email address is 'john.doe@example.com', the 'Username' column should contain 'john.doe'. Your
function should extract the username from each email address and store it in the new 'Username'
column.

In [23]:
import pandas as pd
df=pd.DataFrame({"Email":["gautam.prakash@gmail.com","prakashRangmail.com","skalpi@gmail.com","john.doe@example.com"]})
df

                      Email
0  gautam.prakash@gmail.com
1       prakashRangmail.com
2          skalpi@gmail.com
3      john.doe@example.com

In [26]:
def userName(x):
    l=x.split("@")
    user=l[0]
    return user
df['Username']=df['Email'].apply(userName)
df

                      Email             Username
0  gautam.prakash@gmail.com       gautam.prakash
1       prakashRangmail.com  prakashRangmail.com
2          skalpi@gmail.com               skalpi
3      john.doe@example.com             john.doe

In [22]:
'''Q8. You have a Pandas DataFrame df with columns 'A', 'B', and 'C'. Write a Python function that selects
all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10. The
function should return a new DataFrame that contains only the selected rows.'''
import pandas as pd
df=pd.read_csv("24feb.txt")
def value_checker(x):
    y=x[(x['A']>5) & (x['B']<10)]
    return y
value_checker(df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [80]:
import math
import numpy as np

In [57]:
'''Q9. Given a Pandas DataFrame df with a column 'Values', write a Python function to calculate the mean,
median, and standard deviation of the values in the 'Values' column.'''
df=pd.DataFrame({"Values":[1,2,3,5,4,6,7,8]})
df

   Values
0       1
1       2
2       3
3       5
4       4
5       6
6       7
7       8

In [58]:
#function gor calcculation the mean of the values
def mean_values(x):
    m=df['Values'].size
    sum=0
    for i in range(m):
        sum += df.loc[i, 'Values']
    print("The mean is ",sum/m)
mean_values(df)

The mean is  4.5

In [61]:
#function for calculating the median of Values
def median_values(x):
    m=df['Values'].size
    l=[]
    for i in range(m):
        l.append(df.loc[i, 'Values'])
    l.sort()
    size=len(l)
    if len(l)%2!=0:
        mid=int(math.ceil(len(l)/2))
        print("The median is ",l[mid])
    else:
        x1=int(size/2)
        x2=x1-1
        median=(l[x1]+l[x2])/2
        print("The median is ",median)
median_values(df)

The median is  4.5

In [81]:
#Function for calculation the std of values
def std_values(x):
    return np.std(x['Values'])
std_values(df)

2.29128784747792

In [7]:
'''Q10. Given a Pandas DataFrame df with a column 'Sales' and a column 'Date', write a Python function to
create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
for each row in the DataFrame. The moving average should be calculated using a window of size 7 and
should include the current day.'''
import pandas as pd

def find_moving_average(df):
    df['MovingAverage']=df['Sales'].rolling(window=7,min_periods=1).mean()

    
df=pd.DataFrame({"Sales":[10,11,23,12,32,32,14,23,43,11],"Date":pd.date_range(start='2022-01-01',periods=10,freq='D')})

find_moving_average(df)
print(df)

   Sales       Date  MovingAverage
0     10 2022-01-01      10.000000
1     11 2022-01-02      10.500000
2     23 2022-01-03      14.666667
3     12 2022-01-04      14.000000
4     32 2022-01-05      17.600000
5     32 2022-01-06      20.000000
6     14 2022-01-07      19.142857
7     23 2022-01-08      21.000000
8     43 2022-01-09      25.571429
9     11 2022-01-10      23.857143

In [112]:
'''Q11. You have a Pandas DataFrame df with a column 'Date'. Write a Python function that creates a new
column 'Weekday' in the DataFrame. The 'Weekday' column should contain the weekday name (e.g.
Monday, Tuesday) corresponding to each date in the 'Date' column.'''
#function that will return the modify dataframe
def weekday(x):
    x['Date']=pd.to_datetime(x['Date'])
    x['Weekday']=x['Date'].dt.day_name()
    return x
df=pd.DataFrame({"Date":["2023-01-01","2023-01-02","2023-01-03","2023-01-04","2023-01-05"]})
#calling function weekday
weekday(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

In [122]:
'''Q12. Given a Pandas DataFrame df with a column 'Date' that contains timestamps, write a Python
function to select all rows where the date is between '2023-01-01' and '2023-01-31'.'''
def inbtw_date(x):
    x['Date']=pd.to_datetime(x['Date'])
    return x[(x['Date']>'2023-01-01' ) & (x['Date']<'2023-01-31')]
df=pd.DataFrame({"Date":["2023-01-01","2023-01-02","2023-02-01","2023-01-20","2023-01-30","2023-01-31","2023-01-23"]})

inbtw_date(df)

        Date
1 2023-01-02
3 2023-01-20
4 2023-01-30
6 2023-01-23

In [111]:
'''Q13. To use the basic functions of pandas, what is the first and foremost necessary library that needs to
be imported?
Answer-We have to import pandas library to use the basic function of pandas'''
import pandas as pd